.seccion {
  height: 100%;
  width: 100%;
  /* margin-bottom: 570px; */
}

.row1 {
  height: 70vh;
  position: relative;
  margin-bottom: 10px;
}

.imag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.title2 {
  padding: 30px;
  text-align: center;
  background-color: #0b121b;
  color: white;
  margin-bottom: 50px;
}

.column {
  float: left;
  /* width: 33.3%; */
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  border: 10px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: left;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
  height: 280px;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button1 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button1:hover {
  background-color: #555;
}

@media screen and (max-width: 620px) {
  .column {
    width: 100%;
    display: flex;
  }

  .row1 {
    height: 320vh;
    position: relative;
    display: block;
  }
}

@media (max-width: 1100px) {
  .column {
    width: 100%;
    display: flex;
  }

  .row1 {
    height: 320vh;
    position: relative;
    display: block;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #0b121b;
  /* border-radius: 4px; */
}

::-webkit-scrollbar-thumb:active {
  background-color: #646464;
}

::-webkit-scrollbar-thumb:hover {
  background: #1a223c;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  background: rgb(86, 86, 86);
  border-radius: 4px;
  display: none;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: #424242;
  display: none;
}
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fbc2eb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(251, 194, 235, 1),
    rgba(166, 193, 238, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(251, 194, 235, 1),
    rgba(166, 193, 238, 1)
  );
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}
.seccion {
  height: 100%;
  width: 100%;
  /* margin-bottom: 570px; */
}

.row1 {
  height: 70vh;
  position: relative;
  margin-bottom: 10px;
}

.imag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.title2 {
  padding: 30px;
  text-align: center;
  background-color: #0b121b;
  color: white;
  margin-bottom: 50px;
}

.column {
  float: left;
  /* width: 33.3%; */
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
  height: 280px;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button1 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button1:hover {
  background-color: #555;
}

@media screen and (max-width: 620px) {
  .column {
    width: 100%;
    display: flex;
  }

  .row1 {
    height: 320vh;
    position: relative;
    display: block;
  }
}

@media (max-width: 1100px) {
  .column {
    width: 100%;
    display: flex;
  }

  .row1 {
    height: 320vh;
    position: relative;
    display: block;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #0b121b;
  /* border-radius: 4px; */
}

::-webkit-scrollbar-thumb:active {
  background-color: #646464;
}

::-webkit-scrollbar-thumb:hover {
  background: #1a223c;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  background: rgb(86, 86, 86);
  border-radius: 4px;
  display: none;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: #424242;
  display: none;
}
.contenedor2 {
  /* display: inline-block;
    position: relative;
    width: 100%;
    background-size: contain; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  position: relative;
}

.title-1 {
  position: relative;
}

.form2 {
  width: 600px;
  height: 600px;
  background: #ffffff;

  box-shadow: 7px 13px 37px #000;
  /* padding: 20px 30px; */
  border-radius: 10px;
  position: relative;
  display: flexbox;
}

.controls2 {
  background-color: #ebebeb;
  border: none;
  padding: 0.9rem 0.9rem;
  margin: 0.5rem 0;
  width: 100%;
}

.controls::placeholder {
  color: rgb(221, 220, 220);
}

.buttons2 {
  width: 50%;
  height: 40px;
  background-color: #000;
  /* border-radius: 10px; */
  margin-top: 18px;
  color: white;
  margin-bottom: 10px;
  font-size: 20px;
}

.buttons2:hover {
  /* background-color: #4a6f7c; */
  background: rgb(255, 255, 255);
  color: #000000;
  /* border-radius: 5px; */
  cursor: pointer;
  transition: 0.3s;
}

.buttons3 {
  width: 270px;
  height: 40px;
  background-color: #ff0000;
  /* border-radius: 10px; */
  margin-top: 18px;
  color: white;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 20px;
  border-color: #ff0000;
}

.buttons3:hover {
  /* background-color: #4a6f7c; */
  background: rgb(255, 255, 255);
  color: #ff0000;
  /* border-radius: 5px; */
  cursor: pointer;
  transition: 0.3s;
}

.boto {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 650px) {
  .form2 {
    width: 100%;
    display: block;
  }
}

@keyframes BgGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

